@{ 
    var m = Model;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Add</title>
    </head>
    <body>
        <h1>Added new show!</h1>
        <p>
            ID: @m.Id <br />
            Title: @m.Title
        </p>
    </body>
</html>
