@{
    Layout = null;
}
@model List<tvShowDemoSite.Models.ShowModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Test page! Listing databse:</h1>
    <ol>
        @{ 
            foreach (tvShowDemoSite.Models.ShowModel show in Model)
            {
                <li>
                    <p>
                        ID: @show.Id; <br />
                        Title: @show.Title <br />
                    </p>
                </li>
            }
        }
    </ol>
</body>
</html>
